# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Cmake Files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
cmake-build-*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
examples/chat
examples/high_level_dial
examples/low_level_dial
examples/query
examples/holding_bridge
examples/play_and_record


# Project files
.vscode
.project
.cproject
.idb
.ipch
.pch
.sdf
.suo
.vs

# Other
.svn
Debug
Release
/CMakeSettings.json
