# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
samples/chat
samples/high_level_dial
samples/low_level_dial
samples/query


# Project files
.vscode
.project
.cproject
.idb
.ipch
.pch
.sdf
.suo

# Other
.svn
Debug
Release
