name: C/C++ CI of aricpp

on: [push,pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: setup dependencies
      run: |
        sudo apt-get remove 'libboost-.*'
        sudo apt-get -y update
        mkdir tmp
        cd tmp
        wget https://dl.bintray.com/boostorg/release/1.69.0/source/boost_1_69_0.tar.gz
        tar xzvf boost_1_69_0.tar.gz
        cd boost_1_69_0
        ./bootstrap.sh --prefix=/usr/
        ./b2
        sudo ./b2 install
    - name: make
      run: |
        cd samples
        make
